.header{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#names{
    display: flex;
    column-gap:1.5rem;;
    font-size: large;
    justify-content: space-between;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 3px 3px 10px ;
  
}

.names:hover{
    text-decoration: underline;
    cursor: pointer; 
}
@media(max-width:680px){
.header{
    width: 123.6vw;
}
.names{
    font-size:larger;
}
}